$c: ".features";

#{$c} {
	.feature {
		margin-top: 0px;
	}

	span[class*='icon-16'] {
		font-size: 4rem;
		color: $accent;
	}

	.center-feature {
		max-width: 50%;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.who-we-are-title {
		font-size: 2rem;
		text-align: center;
		font-weight: 600;
	}

	.who-we-are-description {
		text-align: center;
	}
}