$c: '.presentation';

#{$c} {
    position: relative;
    padding-top: 100px;
	overflow: hidden;
	
	img {
		width: 200px;
		z-index: 1;
		animation: logo-presentation 3s linear infinite;
	}

	h1 {
		font-family: $featured-font;
	}

	button, a {
		margin: 0 20px 20px
	}
}

@keyframes logo-presentation {
	0% {
		transform: rotateZ(0) scale(1);
	}
	25% {
		transform: rotateZ(90deg) scale(0.4);
	}
	50% {
		transform: rotateZ(180deg) scale(1);
	}
	75% {
		transform: rotateZ(270deg) scale(0.4);
	}
	100% {
		transform: rotateZ(360deg) scale(1);
	}
}