$accent: #4285F4;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

@import "./variables";

@import "./presentation";

@import "./features";

@import "./nevinha-app";

@import "./examples";

.notification {
	font-weight: 600;
	padding: 1rem;
	border-radius: 4px;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	margin-left: -90px;
	opacity: 0;
	visibility: hidden;
	transition: all ease-in 0s;
	transition-delay: 1s;
}

.copy-clipboard:focus ~ .notification {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

.topbar-logo .topbar-logo-link:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/nevinha-logo-small.png);
    background-size: cover;
    margin-top: 3px;
    margin-right: 6px;
}

:root span.download-btn {
	top: 7px;
}